<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UPdateMANager">
    <meta name="author" content="Moritz Bellach">

    <title>Upman</title>

    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/normalize.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/roboto.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/sakura-dark.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/upman-custom.css") %>">
  </head>

  <body>
    <main>
    <h4>
      <a href="/">UpMan</a>
      <%= if logged_in(@conn) == :true do %>
      <a href="/session/logout">Logout</a>
      <% else %>
      <a href="/session/login">Login</a>
      <% end %>
    </h4>
    <p><%= get_flash(@conn, :info) %></p>
    <p><strong><%= get_flash(@conn, :error) %></strong></p>
    </main>


    <%= render @view_module, @view_template, assigns %>


  </body>
</html>
